<div class="container">
<div class="navbar">
<div class="navbar-inner">
		<a class="brand" href="#">Simple Auth</a>
		<ul class="nav">
			<li>{{#link-to 'index'}}Home{{/link-to}}</li>
			<li>{{#link-to 'top_secret'}}Top Secret{{/link-to}}</li>
			
			{{#if isAuthenticated}}
			  <li><a href="#">{{currentUser.email}}</a></li>
        <li><a href="#" {{action 'logout'}}>Logout</a></li>
      {{else}}
      	<li>{{#link-to 'users.new'}}Register{{/link-to}}</li>
				<li>{{#link-to 'sessions.new'}}Login{{/link-to}}</li>
			{{/if}}		
		</ul>
</div>
</div>

{{outlet}}

</div>